# 🔑 Clave de la API de OpenAI
OPENAI_API_KEY=tu_clave_de_api_aqui

# 🚀 Configuración de la Base de Datos
POSTGRES_DB=whats2want_db
POSTGRES_USER=whats2want_user
POSTGRES_PASSWORD=tu_contraseña_segura
POSTGRES_HOST=db
POSTGRES_PORT=5432

# ⚙️ Configuración de Django
SECRET_KEY=tu_clave_secreta_django
DEBUG=True

# 🌍 Configuración del Host
ALLOWED_HOSTS=localhost,127.0.0.1
