{% extends "admin/base_site.html" %}

{% block content %}
  <div class="app-menu module">
    <h2>Importar Menú desde JSON</h2>
    <p>Sube un archivo JSON para importar un menú a un Tenant.</p>

    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div>
        {{ form.tenant.label_tag }} {{ form.tenant }}
      </div>
      <br>
      <div>
        {{ form.json_file.label_tag }} {{ form.json_file }}
      </div>
      <br>
      <input type="submit" value="Subir JSON" class="default">
    </form>

    <br>
    <a href="{% url 'admin:menu_category_changelist' %}" class="button">Volver al menú</a>
  </div>
{% endblock %}